@media all and (max-width: 1000px){
  .main h1{
    font-size: medium;
  }

  footer h1 {
    font-size: medium;
  }
}

@media all and (max-width: 670px){
  .main h1{
    font-size: small;
  }

  footer h1 {
    font-size: small;
  }
}
