@media all and (max-width: 1000px){
  .main h1{
    font-size: 32px;
  }

  footer h1 {
    font-size: 20px;
  }
}

@media all and (max-width: 670px){
  .logo {
    width:40%
  }

  .main h1{
    font-size: 24px;
  }

  footer h1 {
    font-size: 14px;
  }

  footer p {
    font-size: 14px;
  }
}
