@media all and (max-width: 1000px){
  .main h1{
    font-size: 32px;
  }

  .container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

  .txt {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

  .planPic{
  width: 50%;
  height: 50%;
  object-fit: cover;
}

  footer h1 {
    font-size: 20px;
  }

  .pic {
    width: 50%;
  }
}

@media all and (max-width: 670px){
  .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  .txt {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  .logo {
    width:40%
  }

  .main h1{
    font-size: 30px;
  }

  .main h2 {
    font-size: 28px;
  }

  .main h3 {
    font-size: 25px;
  }

  .planPic{
  width: 85%;
  height: 85%;
  object-fit: cover;
}

  footer h1 {
    font-size: 14px;
  }

  footer p {
    font-size: 14px;
  }

  .pic {
    width: 100%;
  }

}
